﻿@model AOPTaskCodeRewriting.Models.FibonacciResult

@{
    ViewBag.Title = "Fibonacci Evaluator";
}

@using (Html.BeginForm())
{
    <div class="jumbotron">
        @Html.LabelFor(m => Model.Value)
        @Html.EditorFor(m => Model.Value)
        <br />

        @Html.LabelFor(m => Model.Result)
        @Html.DisplayTextFor(m => Model.Result)
        <br />

        <input type="submit" value="Evaluate" />
        <br />
    </div>
}