﻿@model AsyncAwaitThirdMVC.Models.UrlModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>

</div>

